<h1> Show Page </h1>

<%= @user.name %> <br>
Mood <%= @user.mood %> <br>
<%= @user.tickets %> <br>
<%= @user.happiness %> <br>
<%= @user.height %> <br>

<% if @user.admin == true %>
    <p>ADMIN</p>
<% end %>
