<h1> Show <%=@attraction.name %> </h1>
Name: <%= @attraction.name %> <br>

To make total amount of users method 


Ticket Requirement <%= @attraction.tickets %> <br>
Height Requirement <%= @attraction.min_height %> <br>
Nausea Requirement <%= @attraction.nausea_rating %> <br>
Happiness Requirement <%= @attraction.happiness_rating %> <br>

<% if current_user.admin != true %>
    <%= button_to "Go on this ride", rides_path, params: {attraction: params[:id]}, method: 'post', action: "create" %>
<% end %>

<% if current_user.admin == true %>
    <%= link_to "Edit Attraction", edit_attraction_path %>
<% end %>
